*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0f172a;
    color:white;
    font-family:'Segoe UI',sans-serif;
}
nav{
    background:#1e293b;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    position:sticky;
    top:0;
}
nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    text-decoration:none;
    color:white;
}

nav a:hover{
    color:#60a5fa;
}

.she-ro{
    text-align:center;
    padding:80px 20px;
}

.profile-pic{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:50%;
    border:5px solid #3b82f6;
}
.info{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    padding:40px;
}

.info-card{
    background:#1e293b;
    padding:25px;
    width:220px;
    text-align:center;
    border-radius:15px;
}

.she-ro h1{
    margin-top:20px;
    font-size:4rem;
    color:#60a5fa;
}

.she-ro h2{
    margin-top:10px;
    color:#cbd5e1;
}

.she-ro p{
    margin-top:15px;
    font-size:1.1rem;
}

.section{
    width:85%;
    margin:50px auto;
}

.section h2{
    text-align:center;
    color:#60a5fa;
    margin-bottom:30px;
}

.card{
    background:#1e293b;
    padding:25px;
    border-radius:15px;
    margin-bottom:20px;
}

.achievement-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.achievement-card{
    background:#1e293b;
    padding:25px;
    width:220px;
    text-align:center;
    border-radius:15px;
}

.skills-container{
    text-align:center;
}

.skills-container span{
    display:inline-block;
    margin:10px;
    padding:12px 20px;
    background:#2563eb;
    border-radius:25px;
    font-weight:bold;
}

.social-links{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.social-links a{
    text-decoration:none;
    color:white;
    background:#2563eb;
    padding:12px 20px;
    border-radius:10px;
}
.social-links a:hover{
    background:#1d4ed8;
}

footer{
    text-align:center;
    padding:20px;
    background:#1e293b;
    margin-top:50px;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }

    .she-ro h1{
        font-size:2.8rem;
    }
}